

.marquee-container {
  
  color: #ffffff; 
  height: 40px; 
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: fixed; 
  top: 0;
  z-index: 1000; 
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  display: flex;
  align-items: center; 
.marquee-item {
  padding: 0 2rem; 
}
}
.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
 
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
100% {
    transform: translateX(-10%);
  }
}


.marquee-content p {
  display: inline;
  margin-right: 50px; 
 
}
/* src/components/layout/custom.css */
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-animation {
  animation: slideUp 0.6s ease-out forwards;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px; /* Adjust gap as needed */
}

.card {
  position: relative;
  width: 100%;
  max-width: 300px; /* Adjust card size as needed */
  height: 350px; /* Adjust card height as needed */
}

.card:nth-child(odd) {
  grid-row: 1;
}

.card:nth-child(even) {
  grid-row: 2;
  margin-top: 30px; /* Adjust vertical offset as needed */
}

/* custom.css */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animated-image {
  animation: bounce 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animated-image {
  animation: pulse 2s infinite;
}

/* Add smooth scrolling in best selling product */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.scroll-container > .product-card {
  display: inline-block;
  vertical-align: top;
}
/* Hide scrollbar for a cleaner look (optional) */
.scroll-container::-webkit-scrollbar {
  display: none; 
}
